.sections{
    background: var(--color-terciario);
    border-radius: 6px;
}

.color-gris{
    background: var(--color-fondo);
}

.star-color{
    color: #FFBC00;
}

.title-section{
    display: inline-block;
}

.title-section > h3{
    border-bottom: 2px solid var(--color-primario);
}